4.

In [1]:
score = int(input("점수를 입력하세요 : "))

if score >= 90 :
    print("장학생", end='')
elif score >= 60 :
    print("합격", end='')
else :
    print("불합격", end='')

print("입니다. ^^")

점수를 입력하세요 :  70

합격입니다. ^^

5. 답) 3번

In [2]:
num = 5
if num % 2 == 0 :
    res = '짝수'
else :
    res = '홀수'
print(res)

홀수

In [3]:
num = 5
res = '짝수' if num % 2 == 0 else '홀수'
print(res)

홀수

6.

In [5]:
# (1)
nn = [100, 200, 300, 400, 500]
nn[1] = 777
nn

[100, 777, 300, 400, 500]

In [6]:
# (2)
nn = [100, 200, 300, 400, 500]
nn[1] = [444, 555]
nn

[100, [444, 555], 300, 400, 500]

In [7]:
# (3)
nn = [100, 200, 300, 400, 500]
nn[1:4] = [444, 555]
nn

[100, 444, 555, 500]

In [8]:
# (4)
nn = [100, 200, 300, 400, 500]
nn[2:] = []
nn

[100, 200]

9.

In [23]:
total = 0
for num in range(3333, 10000):
    if num % 1234 != 0:
        continue
    total += num
    if total >= 100000:
        break
        
print(total)

40722

8.

In [14]:
hap = 0
for n in range(1234, 4568) :
    if n % 444 ==0 :
        hap += n
print(hap)

23088

In [15]:
hap = 0
n = 1234

while n < 4568:
    if n % 444 == 0:
        hap += n
    n += 1

print(hap)

23088

14.

In [18]:
myData = [[n * m for n in range(1, 3)] for m in range(2,4)]
myData

[[2, 4], [3, 6]]

5.

In [21]:
nn = [100, 200, 300, 400, 500]

print("(1) nn[4] : ", nn[4])
print("(2) nn[-1] : ", nn[-1])
print("(3) nn[-2] : ", nn[-2])
print("(4) nn[1:4] : ", nn[1:4])
print("(5) nn[0:1] : ", nn[0:1])
print("(6) nn[2:-1] : ", nn[2:-1])
print("(7) nn[0::2] : ", nn[0::2])
print("(8) nn[::-1] : ", nn[::-1])
print("(9) nn[::-2] : ", nn[::-2])

(1) nn[4] :  500
(2) nn[-1] :  500
(3) nn[-2] :  400
(4) nn[1:4] :  [200, 300, 400]
(5) nn[0:1] :  [100]
(6) nn[2:-1] :  [300, 400]
(7) nn[0::2] :  [100, 300, 500]
(8) nn[::-1] :  [500, 400, 300, 200, 100]
(9) nn[::-2] :  [500, 300, 100]